.finance-financial {
    background-color: rgba(255, 255, 255, 1.0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .finance-financial .div {
    background-color: rgba(255, 255, 255, 1.0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 79%);
    width: 1456px;
    height: 826px;
    position: relative;
  }
  
  .finance-financial .overlap {
    position: absolute;
    width: 250px;
    height: 649px;
    top: 110px;
    left: 0;
    background-image: url(./img/mask-group.png);
    background-size: 100% 100%;
    background-color: #cfcece;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .finance-financial .group {
    position: absolute;
    width: 160px;
    height: 25px;
    top: 68px;
    left: 44px;
  }
  
  .finance-financial .img {
    position: absolute;
    width: 32px;
    height: 25px;
    top: 0;
    left: 0;
  }
  
  .finance-financial .text-wrapper {
    position: absolute;
    width: 107px;
    top: 2px;
    left: 51px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #0d062d;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .finance-financial .group-2 {
    position: absolute;
    width: 178px;
    height: 25px;
    top: 113px;
    left: 43px;
  }
  
  .finance-financial .text-wrapper-2 {
    position: absolute;
    width: 125px;
    top: 2px;
    left: 51px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #0d062d;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .finance-financial .lapkeu-divisi-gen {
    display: flex;
    flex-direction: column;
    width: 231.68px;
    align-items: center;
    gap: 4px;
    position: absolute;
    top: 158px;
    left: 15px;
  }
  
  .finance-financial .frame {
    display: flex;
    align-items: center;
    gap: 9px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .finance-financial .vuesax-bulk-add {
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .finance-financial .group-3 {
    position: relative;
    width: 204.68px;
    height: 24.97px;
    margin-right: -2.00px;
  }
  
  .finance-financial .text-wrapper-3 {
    position: absolute;
    width: 152px;
    top: 2px;
    left: 51px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #00849b;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .finance-financial .lapkeu-divisi {
    display: flex;
    flex-direction: column;
    width: 155px;
    align-items: flex-start;
    gap: 2px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .finance-financial .frame-2 {
    display: flex;
    width: 116px;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .finance-financial .img-2 {
    position: relative;
    width: 15px;
    height: 15px;
  }
  
  .finance-financial .text-wrapper-4 {
    position: relative;
    width: 90px;
    height: 12px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .finance-financial .frame-3 {
    display: flex;
    width: 101px;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .finance-financial .vector {
    position: relative;
    width: 13px;
    height: 14px;
    margin-top: -0.50px;
    margin-bottom: -0.50px;
    margin-left: -0.50px;
  }
  
  .finance-financial .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -0.50px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .finance-financial .frame-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .finance-financial .vector-2 {
    position: relative;
    width: 12px;
    height: 11.97px;
  }
  
  .finance-financial .text-wrapper-6 {
    position: relative;
    width: 131px;
    height: 12px;
    margin-top: -1.00px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .finance-financial .vector-3 {
    position: relative;
    width: 10px;
    height: 18px;
  }
  
  .finance-financial .text-wrapper-7 {
    position: relative;
    width: 131px;
    height: 12px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .finance-financial .frame-5 {
    display: flex;
    width: 99.62px;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .finance-financial .group-4 {
    position: relative;
    width: 12.13px;
    height: 13.37px;
    margin-top: -0.69px;
    margin-bottom: -0.69px;
    margin-left: -0.75px;
  }
  
  .finance-financial .text-wrapper-8 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #623fff;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .finance-financial .frame-6 {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 345px;
    left: 46px;
  }
  
  .finance-financial .vuesax-linear {
    position: relative;
    width: 31.79px;
    height: 24.97px;
  }
  
  .finance-financial .text-wrapper-9 {
    position: relative;
    width: 84.79px;
    height: 19.77px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #0d062d;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .finance-financial .frame-wrapper {
    position: absolute;
    width: 143px;
    height: 27px;
    top: 382px;
    left: 50px;
  }
  
  .finance-financial .frame-7 {
    display: flex;
    width: 143px;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .finance-financial .line-md-home-twotone {
    position: relative;
    width: 26.84px;
    height: 26.84px;
  }
  
  .finance-financial .group-5 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 1px;
    left: 1px;
  }
  
  .finance-financial .text-wrapper-10 {
    position: relative;
    width: 94.81px;
    height: 22.11px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #0d062d;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .finance-financial .group-6 {
    position: absolute;
    width: 138px;
    height: 24px;
    top: 596px;
    left: 55px;
  }
  
  .finance-financial .text-wrapper-11 {
    position: absolute;
    width: 85px;
    height: 20px;
    top: 2px;
    left: 51px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #0d062d;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .finance-financial .vector-4 {
    position: absolute;
    width: 27px;
    height: 24px;
    top: 0;
    left: 0;
  }
  
  .finance-financial .LOGO-PT-PETROKIMIA {
    position: absolute;
    width: 153px;
    height: 62px;
    top: 16px;
    left: 29px;
    object-fit: cover;
  }
  
  .finance-financial .group-7 {
    position: absolute;
    width: 349px;
    height: 56px;
    top: 19px;
    left: 1092px;
  }
  
  .finance-financial .ellipse {
    position: absolute;
    width: 65px;
    height: 64px;
    top: 0;
    left: 286px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .finance-financial .text-wrapper-12 {
    position: absolute;
    width: 256px;
    top: 2px;
    left: 0;
    font-family: "Heebo-Bold", Helvetica;
    font-weight: 700;
    color: #595959;
    font-size: 35px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .finance-financial .overlap-group {
    position: absolute;
    width: 1104px;
    height: 649px;
    top: 113px;
    left: 288px;
    background-color: #f5f5f5;
    border-radius: 20px;
  }
  
  .finance-financial .overlap-2 {
    position: absolute;
    width: 919px;
    height: 73px;
    top: 19px;
    left: 122px;
  }
  
  .finance-financial .vector-5 {
    position: absolute;
    width: 919px;
    height: 3px;
    top: 70px;
    left: 0;
  }
  
  .finance-financial .text-wrapper-13 {
    position: absolute;
    width: 697px;
    top: 0;
    left: 122px;
    font-family: "Heebo-Bold", Helvetica;
    font-weight: 700;
    color: #595959;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .finance-financial .overlap-3 {
    position: absolute;
    width: 963px;
    height: 75px;
    top: 128px;
    left: 95px;
    background-color: #ebebeb;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00849cb2;
  }
  
  .finance-financial .text-wrapper-14 {
    position: absolute;
    width: 420px;
    top: 18px;
    left: 90px;
    font-family: "Heebo-Medium", Helvetica;
    font-weight: 500;
    color: #0000004c;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .finance-financial .icon-park-list-two {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 21px;
    left: 32px;
  }
  
  .finance-financial .div-wrapper {
    position: absolute;
    width: 963px;
    height: 75px;
    top: 241px;
    left: 95px;
    background-color: #ebebeb;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00849cb2;
  }
  
  .finance-financial .text-wrapper-15 {
    position: absolute;
    width: 420px;
    top: 13px;
    left: 31px;
    font-family: "Heebo-Medium", Helvetica;
    font-weight: 500;
    color: #0000004c;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .finance-financial .overlap-4 {
    position: absolute;
    width: 963px;
    height: 75px;
    top: 354px;
    left: 95px;
    background-color: #ebebeb;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00849cb2;
  }
  
  .finance-financial .text-wrapper-16 {
    position: absolute;
    width: 577px;
    top: 13px;
    left: 31px;
    font-family: "Heebo-Medium", Helvetica;
    font-weight: 500;
    color: #0000004c;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .finance-financial .overlap-5 {
    position: absolute;
    width: 963px;
    height: 75px;
    top: 467px;
    left: 95px;
    background-color: #ebebeb;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00849cb2;
  }
  
  .finance-financial .ic-sharp-link {
    position: absolute;
    width: 59px;
    height: 60px;
    top: 7px;
    left: 881px;
  }
  
  .finance-financial .overlap-group-wrapper {
    position: absolute;
    width: 129px;
    height: 48px;
    top: 572px;
    left: 933px;
  }
  
  .finance-financial .overlap-group-2 {
    position: relative;
    width: 127px;
    height: 48px;
    background-color: #83c29d33;
    border-radius: 4px;
  }
  
  .finance-financial .text-wrapper-17 {
    position: absolute;
    width: 107px;
    height: 31px;
    top: 8px;
    left: 10px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #67b266;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .finance-financial .vector-6 {
    position: absolute;
    width: 1438px;
    height: 1px;
    top: 102px;
    left: 10px;
    object-fit: cover;
  }
  
  .backgrounddasar {
    width: 100%;
    height: 100%;
  }