.finance-invoice {
    background-color: rgba(255, 255, 255, 1.0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .finance-invoice .div {
    background-color: rgba(255, 255, 255, 1.0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 79%);
    width: 1456px;
    height: 826px;
    position: relative;
  }
  
  .finance-invoice .overlap {
    position: absolute;
    background-color: #d6d4d4;
    width: 250px;
    height: 659px;
    top: 103px;
    left: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .finance-invoice .mask-group {
    position: absolute;
    width: 250px;
    height: 649px;
    top: 7px;
    left: 70x;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .finance-invoice .group {
    position: absolute;
    width: 160px;
    height: 25px;
    top: 75px;
    left: 42px;
  }
  
  .finance-invoice .img {
    position: absolute;
    width: 32px;
    height: 25px;
    top: 0;
    left: 0;
  }
  
  .finance-invoice .text-wrapper {
    position: absolute;
    width: 107px;
    top: 2px;
    left: 51px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #00849b;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .finance-invoice .group-2 {
    position: absolute;
    width: 205px;
    height: 25px;
    top: 177px;
    left: 42px;
  }
  
  .finance-invoice .text-wrapper-2 {
    position: absolute;
    width: 152px;
    top: 2px;
    left: 51px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .finance-invoice .group-3 {
    position: absolute;
    width: 178px;
    height: 25px;
    top: 126px;
    left: 42px;
  }
  
  .finance-invoice .text-wrapper-3 {
    position: absolute;
    width: 125px;
    top: 2px;
    left: 51px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #0d062d;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .finance-invoice .group-4 {
    position: absolute;
    width: 1440px;
    height: 256px;
    top: 0;
    left: 10px;
  }
  
  .finance-invoice .overlap-group {
    position: absolute;
    width: 1104px;
    height: 649px;
    top: 10px;
    left: 278px;
    background-color: #f5f5f5;
    border-radius: 20px;
  }
  
  .finance-invoice .overlap-2 {
    position: absolute;
    width: 919px;
    height: 72px;
    top: 20px;
    left: 122px;
  }
  
  .finance-invoice .vector {
    width: 919px;
    height: 3px;
    top: 69px;
    position: absolute;
    left: 0;
  }
  
  .finance-invoice .text-wrapper-4 {
    width: 697px;
    left: 122px;
    font-family: "Heebo-Bold", Helvetica;
    font-weight: 700;
    color: #595959;
    font-size: 48px;
    text-align: center;
    position: absolute;
    top: 0;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .finance-invoice .group-wrapper {
    position: absolute;
    width: 963px;
    height: 75px;
    top: 128px;
    left: 95px;
    background-color: #ebebeb;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00849cb2;
  }
  
  .finance-invoice .div-wrapper {
    position: relative;
    width: 422px;
    height: 41px;
    top: 19px;
    left: 90px;
  }
  
  .finance-invoice .text-wrapper-5 {
    position: absolute;
    width: 420px;
    top: 0;
    left: 0;
    font-family: "Heebo-Medium", Helvetica;
    font-weight: 500;
    color: #0000004c;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .finance-invoice .overlap-3 {
    position: absolute;
    width: 963px;
    height: 75px;
    top: 241px;
    left: 95px;
    background-color: #ebebeb;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00849cb2;
  }
  
  .finance-invoice .group-5 {
    position: relative;
    width: 420px;
    height: 41px;
    top: 14px;
    left: 31px;
  }
  
  .finance-invoice .group-6 {
    height: 41px;
  }
  
  .finance-invoice .group-7 {
    width: 420px;
    height: 41px;
  }
  
  .finance-invoice .group-8 {
    position: relative;
    width: 422px;
    height: 41px;
  }
  
  .finance-invoice .overlap-4 {
    position: absolute;
    width: 963px;
    height: 75px;
    top: 354px;
    left: 95px;
    background-color: #ebebeb;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00849cb2;
  }
  
  .finance-invoice .group-9 {
    position: relative;
    width: 577px;
    height: 41px;
    top: 14px;
    left: 31px;
  }
  
  .finance-invoice .group-10 {
    width: 577px;
    height: 41px;
  }
  
  .finance-invoice .group-11 {
    position: relative;
    width: 579px;
    height: 41px;
  }
  
  .finance-invoice .text-wrapper-6 {
    position: absolute;
    width: 577px;
    top: 0;
    left: 0;
    font-family: "Heebo-Medium", Helvetica;
    font-weight: 500;
    color: #0000004c;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .finance-invoice .overlap-5 {
    position: absolute;
    width: 963px;
    height: 75px;
    top: 467px;
    left: 95px;
    background-color: #ebebeb;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00849cb2;
  }
  
  .finance-invoice .group-12 {
    position: absolute;
    width: 420px;
    height: 41px;
    top: 14px;
    left: 31px;
  }
  
  .finance-invoice .ic-sharp-link {
    position: absolute;
    width: 59px;
    height: 60px;
    top: 7px;
    left: 881px;
  }
  
  .finance-invoice .overlap-group-wrapper {
    position: absolute;
    width: 129px;
    height: 48px;
    top: 572px;
    left: 933px;
  }
  
  .finance-invoice .overlap-group-2 {
    position: relative;
    width: 127px;
    height: 48px;
    background-color: #83c29d33;
    border-radius: 4px;
  }
  
  .finance-invoice .text-wrapper-7 {
    position: absolute;
    width: 107px;
    height: 31px;
    top: 8px;
    left: 10px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #67b266;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .finance-invoice .vector-2 {
    width: 1438px;
    height: 1px;
    top: 0;
    object-fit: cover;
    position: absolute;
    left: 0;
  }
  
  .finance-invoice .frame-wrapper {
    position: absolute;
    width: 143px;
    height: 27px;
    top: 217px;
    left: 45px;
  }
  
  .finance-invoice .frame {
    display: flex;
    width: 143px;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .finance-invoice .line-md-home-twotone {
    position: relative;
    width: 26.84px;
    height: 26.84px;
  }
  
  .finance-invoice .group-13 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 1px;
    left: 1px;
  }
  
  .finance-invoice .text-wrapper-8 {
    position: relative;
    width: 94.81px;
    height: 22.11px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #0d062d;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .finance-invoice .icon-park-list-two {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 159px;
    left: 419px;
  }
  
  .finance-invoice .group-14 {
    position: absolute;
    width: 138px;
    height: 24px;
    top: 603px;
    left: 55px;
  }
  
  .finance-invoice .text-wrapper-9 {
    position: absolute;
    width: 85px;
    height: 20px;
    top: 2px;
    left: 51px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #0d062d;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .finance-invoice .vector-3 {
    position: absolute;
    width: 27px;
    height: 24px;
    top: 0;
    left: 0;
  }
  
  .finance-invoice .LOGO-PT-PETROKIMIA {
    position: absolute;
    width: 153px;
    height: 62px;
    top: 16px;
    left: 29px;
    object-fit: cover;
  }
  
  .finance-invoice .group-15 {
    position: absolute;
    width: 349px;
    height: 56px;
    top: 19px;
    left: 1092px;
  }
  
  .finance-invoice .ellipse {
    position: absolute;
    width: 65px;
    height: 64px;
    top: 0;
    left: 286px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .finance-invoice .text-wrapper-10 {
    position: absolute;
    width: 256px;
    top: 2px;
    left: 0;
    font-family: "Heebo-Bold", Helvetica;
    font-weight: 700;
    color: #595959;
    font-size: 35px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .backgrounddasar {
    width: 100%;
    height: 100%;
  }